body{
nav {
  list-style-type: none;
  background-color: black;
  position: fixed;
  width: 100vw;
  top: 5;
  left: 0;
  padding: 10px;
  color: #AAEFDF;
  text-align: right;
}

li {
  display: inline;
  padding: 20px;
}
li:hover {
  background-color: #181918;
}

a{
  text-decoration: none;
  color: #AAEFDF;
}

}
